@CHARSET "UTF-8";
body {
	background-image: url(../images/bgp.jpg);
}

#Content{
	width:500px;
	height:100%;
	margin: auto;
	margin-top:80px;
	index:1;
	text-align: center;
}
h2{
	font-family:'Trebuchet MS', sans-serif;
	color:RosyBrown;
	font-size: 3.0em;
}
.form-control{
	width:70%;
	border-radius:0px;
	font-size: 1.1em;
	border-color: Peru;
	font-family: 微软雅黑;
	color: Tan;
}
.btn-default{
	border-color: BurlyWood;
	background-color: RosyBrown;
	width: 65%;
	margin-left:-110px;
	font-family: Microsoft YaHei;
	font-size: 1.2em;
	color: white;
}
#action{
	font-size: 0.1em;
	text-align: center;
	color:RosyBrown;
	font-family: Microsoft YaHei;
}

hr
{
	border-color: BurlyWood;
}